ProjWebWCF1/Connected Services/MeuServicoWCF/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dados" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dados" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFilme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filme" nillable="true" type="tns:Filme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilme" nillable="true" type="tns:ArrayOfFilme" />
  <xs:complexType name="Filme">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoLancamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filme" nillable="true" type="tns:Filme" />
</xs:schema>